$color-secondary: rgba(243, 247, 250, 1);
$color-decorative: rgba(33, 150, 243, 1);

$screen-md: 768px;

.spin-wrapper {
  position: relative;
  bottom: 15px;
}

.spinner {
  max-width: 502px;
  height: 7px;
  border-radius: 3px;
  background: $color-decorative;
  animation: slide 1.5s infinite;

  @media (max-width: $screen-md) {
    max-width: 100%;
  }
}

@keyframes slide {
  50% {
    opacity: 0.1;
  }
}
