$color-secondary: rgba(243, 247, 250, 1);
$color-decorative: rgba(33, 150, 243, 1);

.spin-wrapper {
  position: relative;
  //max-width: 502px;
  //position: absolute;
  bottom: 15px;
  //left: 40%;
  //margin-left: 10%;
}

.spinner {
  max-width: 502px;
  height: 7px;
  border-radius: 3px;
  background: $color-decorative;
  animation: slide 1.5s infinite;
}

@keyframes slide {
  50% {
    opacity: 0.1;
  }
}
